

.font-style{
    
    font-family: 'Josefin Slab';
    color: #0832ebbd;
    font-weight: bold;
}

.btn-info{
    background-color:#498ac6  !important;
    border-color: #498ac6 !important;
    margin-left: 10px;
}

::ng-deep .mat-step-header .mat-step-text-label {
    font-family: 'Cinzel';
    color: #2e23c3;
    font-weight: bold;
    font-size: 17px;
    } 

    .button{
        margin-left:100px;
     }