<!--
<div [formGroup]="parentForm">
    <mat-card class="bg">
        <mat-card-content>
            <table>             
                   <mat-vertical-stepper>            
                        <ng-template matStepperIcon="place">
                        <mat-icon>place</mat-icon>
                    </ng-template>
                    <ng-template matStepperIcon="add">
                        <mat-icon>add</mat-icon>
                    </ng-template>
                    <ng-template matStepperIcon="edit">
                        <mat-icon>place</mat-icon>
                    </ng-template>
                    <mat-step label="ORIGIN" state="place">
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput (blur)="populate_zip($event.target.value.toUpperCase())" placeholder="City, State, Country" formControlName="Oaddress">
                                </mat-form-field>
                                <mat-hint>
                                    Enter New York/Florida/Ohio to autopopulate Zip Code
                                </mat-hint>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput (blur)="populate_city($event.target.value)" placeholder="Zip Code" formControlName="Ozip">
                                </mat-form-field>
                                <mat-hint>
                                    Enter 10001/328790/44101 to autopopulate City
                                </mat-hint>
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <label style="font-weight:bold;font-family:Alegreya">APPOINMENT</label>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="pickup">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <br>
                            <td>
                                <mat-checkbox formControlName="window">Required Pickup Window (optional) </mat-checkbox>
                            </td>
                            <br>
                        </tr>
                    </mat-step>
                 
                    <mat-step label="ADD POINT" state="add">
                        <div formArrayName="stop">
                            <div *ngFor="let item of stop.controls; let i=index">
                                <mat-form-field appearance="standard">
                                    <input matInput placeholder="City, State, Country" [formControlName]="i">
                                </mat-form-field>
                                <button type="button" class="btn btn-info" (click)="addstop()">Add Stop</button>
</div>
</div>
</mat-step>
<mat-step label="DESTINATION" state="place">
    <tr>
        <td>
            <mat-form-field appearance="standard">
                <input matInput placeholder="City, State, Country" formControlName="Daddress">
            </mat-form-field>
        </td>
        <br>
    </tr>
</mat-step>
</mat-vertical-stepper>
<tr>
    <td>
        <input type="button" class="btn btn-primary button" (click)="previous()" value=" Back ">
    </td>
</tr>
</table>
</mat-card-content>
</mat-card>
</div> -->

<div [formGroup]="parentForm">
    <mat-card>
        <mat-card-content>
            <mat-vertical-stepper>
                <ng-template matStepperIcon="place">
                    <mat-icon>place</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="add">
                    <mat-icon>add</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="edit">
                    <mat-icon>place</mat-icon>
                </ng-template>
                <mat-step label="ORIGIN" state="place">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <input matInput (blur)="populate_zip($event.target.value.toUpperCase())" placeholder="City, State, Country" formControlName="Oaddress">
                            </mat-form-field>
                            <mat-hint>
                                Enter New York/Florida/Ohio to autopopulate Zip Code
                            </mat-hint>
                        </div>
                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <input matInput (blur)="populate_city($event.target.value)" placeholder="Zip Code" formControlName="Ozip">
                            </mat-form-field>
                            <mat-hint>
                                Enter 10001/328790/44101 to autopopulate City
                            </mat-hint>
                        </div>
                    </div>
                    <br>
                    <label style="font-weight:bold;font-family:Alegreya">APPOINMENT</label>
                    <div class="form-row form-inline">
                        <div class="form-group col-md-5">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="pickup">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="form-group col-md-5">
                            <mat-checkbox formControlName="window">Required Pickup Window (optional) </mat-checkbox>
                        </div>
                        <br>
                    </div>
                </mat-step>

                <mat-step label="ADD POINT" state="add">
                    <div formArrayName="stop">
                        <div *ngFor="let item of stop.controls; let i=index">
                            <mat-form-field appearance="standard">
                                <input matInput placeholder="City, State, Country" [formControlName]="i">
                            </mat-form-field>
                            <button type="button" class="btn btn-info" (click)="addstop()">Add Stop</button>
</div>
</div>
</mat-step>
<mat-step label="DESTINATION" state="place">
    <div class="form-row">
        <div class="form-group col-md-4">
            <mat-form-field appearance="standard">
                <input matInput placeholder="City, State, Country" formControlName="Daddress">
            </mat-form-field>
        </div>
        <br>
    </div>
</mat-step>
</mat-vertical-stepper>
<div class="form-row">
    <div class="form-group col-md-4">
        <input type="button" class="btn btn-primary button" (click)="previous()" value=" Back ">
    </div>
</div>
 
</mat-card-content>
</mat-card>
</div>