
.bg-info{

    background-color:rgb(102, 118, 175) !important;
}

.border-primary {
    border-color:rgb(102, 118, 175)!important;
}

.btn-primary {
    
    background-color: rgb(102, 118, 175) !important;
    border-color:rgb(102, 118, 175) !important;
}

.card{
     width: 750px;
    height: 20px;
    margin-top:25px;
}

.text-style{
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    font-weight: bold; 
}