
.cardstyle{
color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
   padding-top: 2%;
}

.card-body{
    text-align: center;
}
