.formfield  {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    
}

.cardtitle{
    background-color: whitesmoke;
}


/*.mat-card{
  padding: 45px;
   } */

   h5 {
    
       font-weight:bold;
       font-family: 'Cinzel';
       color: #2e23c3;

   }

 /*  .card-width{

    width :900px;
   } */

  


  