<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-nav-list style="float : left"> -->
<nav class="navbar navbar-expand-sm navbar-light font-style" style="  background-color: rgb(102, 118, 175);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <a class=" nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active">Home </a>
        <a class=" nav-item nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard </a>
        <a class=" nav-item nav-link" [routerLink]="['/neworderform']" routerLinkActive="active">Send Parcel</a>
        <div class="navbar-nav ml-auto">
            <span class="navbar-text">Welcome {{auth.user}} </span>
            <a *ngIf="auth. isloggedin" class=" nav-item nav-link" [routerLink]="['/cart']" routerLinkActive="active">
                <mat-icon>shopping_cart</mat-icon>
                <span class="badge badge-pill badge-light"> {{items}}</span>
            </a>
            <a *ngIf="!auth. isloggedin" class=" nav-item nav-link" [routerLink]="['/signin']" routerLinkActive="active">Log in </a>
            <a *ngIf="auth. isloggedin" class=" nav-item nav-link" [routerLink]="['/home']" (click)="logout()">Log Out </a>
        </div>
    </div>
</nav>
<!-- </mat-nav-list> -->   
<router-outlet></router-outlet> 