
   
        <div class="row no-gutters">
             <div class="col-sm-2">
                  <img src="assets\images\price.png" >
                </div>
                      <div class="col-sm-2">
                          <span style="color:rgb(83, 39, 185); font-size:24px;">1.Compare Prices</span>
                              <p class="font-style">Use our price comparison engine to find the best prices today.</p>
                         </div>

                         <div class="col-sm-2">
                            <img src="assets\images\sendparcel.png" >
                          </div>
                                <div class="col-sm-2">
                                    <span style="color:rgb(83, 39, 185); font-size:24px;">2.Send Parcels</span>
                                        <p class="font-style">Send your parcel with our partners, we'll even come and collect it.</p>
                                   </div>

                                   <div class="col-sm-2">
                                      <img src="assets\images\savemoney.png" >
                                    </div>
                                          <div class="col-sm-2">
                                              <span style="color:rgb(83, 39, 185); font-size:24px;">3.Save Money</span>
                                                  <p class="font-style">Our customers are saving money every time they use EasyParcel!</p>
                                             </div>

                </div>

        <br><br>

            
           