.header-category {
    overflow: hidden;
    position: relative;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#01a79d;
}

.carousel {
    width:900px;
    height:420px;
  }

  .font-style{
    
    font-family: 'Josefin Slab';
    color: #0832ebbd;
    font-weight: bold;
    font-size: 20px;
}

.btn{
        background-color: rgb(28, 211, 141);
}

.btn-primary{
        border-color:  rgb(28, 211, 141);
    
}